$white: #fff;
$black: #000000;
$offWhite: #F5F5F5;
$darkGray: #D0D0D0;
$tertiary: #EDE9E7;
$offBlack:#999797;
$green: #045742;

$gap1: 1rem;
$gap2: 2rem;
$gap3: 3rem;
$gap4: 4rem;
$gap5: 5rem;
$gap02: .2rem;
